@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;700;900&display=swap');

:root {
    --background-light: #FBFCEB;
    --background-dark: #c4b46a;
    --accent-light: #E5E483;
    --text-dark: #000000;
    --text-light: #51532b;
    --divider: #c6bd563d;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-light);
}

header {
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
    background-color: var(--background-dark);
    height: 75px;
}

.textoHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
}

.textoHeader h1 {
    color: var(--text-dark);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    margin-top: 28px;
}

.bemVindoNav {
    margin-left: 20px;
}
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--background-light);
    padding: 10px;
    z-index: 999;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out; /* Suavidade no desaparecimento */
}

.navbar.hidden {
    transform: translateY(-100%); /* Esconde a barra ao mover para cima */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.navbar li {
    margin-right: 15px;
}

.navbar a {
    color: var(--text-dark);
    text-decoration: none;
    padding: 5px 8px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #5a5c2fd8;
}


main {
    max-width: 90%;
    margin: 0 auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 60px;
    background-color: var(--background-dark);
}

h2 {
    padding: 20px 0;
    color: var(--text-dark);
    font-size: 1.8rem;
    text-align: start;
}

h2, h3, h4, h5 {
    color: var(--text-dark);
}

.info-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.192);
}

.info-container h2 {
    margin-top: 20px;
    color: var(--text-dark);
    font-size: 1.8rem;
}

.info-container p {
    margin: 10px 0;
    font-size: 1rem;
}

.map-container {
    margin: 20px 0;
    text-align: center;
}

@media (max-width: 1024px) {
    .textoHeader h1 {
        font-size: 1.5rem;
    }

    .navbar ul {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .map-container {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .map-container iframe {
        width: 100%;
        height: 350px;
    }

    @media (max-width: 768px) {
        .navbar {
            flex-direction: column;
            padding: 15px 0;
        }

        .navbar ul {
            flex-direction: column;
            align-items: center;
        }

        .navbar li {
            margin: 10px 0;
        }

        .textoHeader h1 {
            font-size: 1.8rem;
        }

        .textoHeader p {
            font-size: 0.9rem;
        }

        .info-container {
            width: 100%;
            padding: 15px;
        }

        .map-container iframe {
            width: 500px;
            height: 350px;
        }

        .map-container iframe {
            width: 100%;
            height: 300px;
        }
        p{
            font-size: 1rem !important;
        }
    
        h2{
            font-size: 1.7rem !important;
        }
        footer p{
            font-size: 1rem !important;
        }
    }

    @media (max-width: 480px) {
        .textoHeader h1 {
            font-size: 1.5rem;
        }

        .navbar ul {
            font-size: 0.8rem;
        }

        footer {
            padding: 10px;
            text-align: center;
        }

        .map-container iframe {
            width: 100%;
            height: 250px;
        }
        p{
            font-size: 0.9rem !important;
        }
        h2{
            font-size: 1.5rem !important;
        }
        footer p{
            font-size: 0.8rem !important;
        }
    }
}
